<p id="notice"><%= notice %></p>

<h1>Frames</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Session</th>
      <th>Frame</th>
      <th>Knocked pins</th>
      <th>Turn</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frames.each do |frame| %>
      <tr>
        <td><%= frame.user_id %></td>
        <td><%= frame.session_id %></td>
        <td><%= frame.frame %></td>
        <td><%= frame.knocked_pins %></td>
        <td><%= frame.turn %></td>
        <td><%= link_to 'Show', frame %></td>
        <td><%= link_to 'Edit', edit_frame_path(frame) %></td>
        <td><%= link_to 'Destroy', frame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frame', new_frame_path %>
